<div class="jumbotron">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <%= image_tag "tour/mopo_original_white.png" %>
      </div>
      <div class="span8">
        <h1>mopo</h1>
        <p>Mobiililaitteissa toimiva yhteisöllinen
mobiiliportfoliosovellus, joka mahdollistaa
oppimisen ajasta ja paikasta riippumatta.</p>
        
        <%= link_to "Sisään",  new_user_session_path, 
          :class => "btn btn-lare btn-orange" %>
        
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="marketing">
    <h1>Mikä mopo on?</h1>
    
    <div class="row-fluid">
      <div class="span2 phone-img">
        <%= image_tag "tour/phone.png" %>
      </div>
      <div class="span10">
        <p>Mopo on älypuhelimissa ja tableteissa toimiva
        yhteisöllinen mobiiliportfoliosovellus, joka
        mahdollistaa oppimisen ajasta ja paikasta
        riippumatta.</p>
            <p>Mopon avulla oppimisympäristö laajenee
        luokkahuoneen ulkopuolelle ja integroituu
        muuhun ympäristöön.</p>
      </div>
    </div>
    
    <hr/>
    
    
    <h1>Mopon toiminnallisuudet</h1>
    
    <div class="row-fluid">
      <div class="span9">
        <h2>Mopon avulla oppilaat voivat:</h2>
        <ul>
          <li>Kerätä ja rakennella tietoa opittavan aiheen ympärillä
(kuvat, videot, äänitteet, muistiinpanot)</li>    
          <li>Dokumentoida oppimisprosessia</li>    
          <li>Kommunikoida yhteisöllisessä ympäristössä</li>    
          <li>Taltioida oppimisen tuloksia omaan mobiiliportfolioonsa</li>    
          <li>Tuottaa omaa mediasisältöä</li>    
          <li>Seurata ja toteuttaa opettajan tehtävänantoja</li>    
        </ul>
      </div>
      <div class="span3">
        <%= image_tag "tour/features.png", :class => "features-img" %>
      </div>
    </div>
    
    <hr/>
    
        
    <h1>Mihin mopoa käytetään?</h1>
    
    <div class="row-fluid">
      <div class="span3">
        <%= image_tag "tour/usage.png", :class => "usage-img" %>
      </div>
      <div class="span9">
        <p>Mopoa voidaan käyttää itsenäiseen opiskeluun,
portfolio-oppimiseen, oppimisaihioihin, ohjattuun
opiskeluun tehtävänantojen kautta, työssäoppimiseen,
oppimis tai ohjausprosessin dokumentointiin, ja
tilanteeseen sidottuun oppimiseen.</p>
      </div>
    </div>
    
  </div>
</div>
  