<p><%= t('.header', :email => @resource.email) %></p>

<p><%= t('.requested')%></p>

<p><%= link_to t('.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('.ignore')%></p>
<p><%= t('.wont_change')%></p>
